__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.env
.env.*
.venv/
venv/
__pypackages__/
# Celery Beat Schedule runtime files
celerybeat-schedule
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir